<!DOCTYPE html>
<html lang="en" class="ace ace-card-on ace-tab-nav-on ace-main-nav-on ace-sidebar-on" data-theme-color="#c0e3e7">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ace</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="{{ url_for("static",filename="fonts/icomoon/style.css") }}" rel="stylesheet">


    <!-- Styles -->
    <link href={{url_for("static",filename="css/style.css")}} rel="stylesheet" type="text/css">
    <link href={{url_for("static",filename="js/plugins/highlight/solarized-light.css")}} rel="stylesheet" type="text/css">

    <!-- Modernizer -->
    <script type="text/javascript" src="static/js/vendor/modernizr-3.3.1.min.js"></script>
  </head>
  <body>
     <div class="ace-wrapper">
        <header id="ace-header" class="ace-container-shift ace-logo-in ace-head-boxed ace-nav-right">
             <div class="ace-head-inner">
                 <div class="ace-head-container ace-container">
                     <div class="ace-head-row">
                         <div id="ace-head-col1" class="ace-head-col text-left">
                             <a id="ace-logo" class="ace-logo" href="{{ url_for('index') }}">
                                <img src="static/img/uploads/brand/logo.svg" alt="ace resume"><span>个人简历</span>
                             </a>
                         </div>

                         <div id="ace-head-col2" class="ace-head-col text-right">
                             <div class="ace-nav-container ace-container hidden-sm hidden-xs">
                                 <nav id="ace-main-nav">
                                    <ul class="clear-list">
										<li><a href="{{ url_for('index') }}">个人信息</a></li>
										<li><a href="{{ url_for('portfolio') }}">个人图片</a>
										<li><a href="{{ url_for('category') }}">个人文章</a></li>
										<li><a href="{{ url_for('contact') }}">联系我</a></li>
									</ul>
                                 </nav>
                             </div>
                         </div>


                     </div>
                 </div><!-- .ace-container -->
             </div><!-- .ace-head-inner -->
        </header><!-- #ace-header -->


        
        <nav id="ace-nav-sm" class="ace-nav hidden-lg hidden-md">
            <ul class="clear-list">
				<li>
					<a href="index.html" data-tooltip="Home"><img class="avatar avatar-42" src="static/img/uploads/avatar/avatar-42x42.png" alt=""></a>
				</li>
				<li>
					<a href="experience.html" data-tooltip="Experience"><span class="ace-icon ace-icon-experience"></span></a>
				</li>
				<li>
					<a href="portfolio.html" data-tooltip="Portfolio"><span class="ace-icon ace-icon-portfolio"></span></a>
				</li>
				<li>
					<a href="testimonials.html" data-tooltip="References"><span class="ace-icon ace-icon-references"></span></a>
				</li>
				<li class="active">
					<a href="contact.html" data-tooltip="Contact"><span class="ace-icon ace-icon-contact"></span></a>
				</li>
				<li>
					<a href="category.html" data-tooltip="Blog"><span class="ace-icon ace-icon-blog"></span></a>
				</li>
			</ul>
        </nav><!-- #ace-tab-nav-sm -->

         <article id="ace-card" class="ace-card bg-primary">
			<div class="ace-card-inner text-center">
				<img class="avatar avatar-195" src="static/img/img1.jpeg" width="195" height="195" alt="">
				<h1>陈俊勇</h1>
				<p class="text-muted">计算机科学与技术专业 | 本科</p>

			</div>
			<footer class="ace-card-footer">
				<a class="btn btn-lg btn-block btn-thin btn-upper " href="#">武汉理工大学</a>
			</footer>
		</article><!-- #ace-card -->
        <div id="ace-content" class="ace-container-shift">
            <div class="ace-container">

                

                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">
						
						<!-- START: PAGE CONTENT -->

    <h2 class="title-lg text-upper padd-box">contact me</h2>


    <div class="panel">
                        <dt class="text-upper">个人姓名</dt>
                        <dd>陈俊勇</dd>

                        <dt class="text-upper">出生年月</dt>
                        <dd>1996/04/05</dd>

                        <dt class="text-upper">联系地址</dt>
                        <dd>武汉理工大学余家头校区海虹四栋</dd>

                        <dt class="text-upper">联系编码</dt>
                        <dd>430063</dd>

                        <dt class="text-upper">联系邮箱</dt>
                        <dd>1042769007@qq.com</dd>

                        <dt class="text-upper">手机号码</dt>
                        <dd>15172420779</dd>
    </div>

    <div id="map" data-latitude="50.84592" data-longitude="4.366859999999974"></div>

<!-- END: PAGE CONTENT -->
						
                </div><!-- .ace-paper-cont -->
            </main><!-- .ace-paper -->
        </div><!-- .ace-paper-stock -->

        </div><!-- .ace-container -->
    </div><!-- #ace-content -->


    <footer id="ace-footer" class="ace-container-shift">
        <div class="ace-container">
            <div class="ace-footer-cont clear-mrg">
                <p class="text-center">Copyright &copy; 2017.Company name All rights reserved.//cdn.bootcss.com/jquery/1.12.2/jquery.min.js</p>
            </div>
        </div><!-- .ace-container -->
    </footer><!-- #ace-footer -->

    <!-- Triangle Shapes -->
    <svg id="ace-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
        <polygon points="0,455,693,352,173,0,92,0,0,71" style="fill:#d2d2d2;stroke:purple;stroke-width:0; opacity: 0.5">
    </svg>

    <svg id="ace-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
        <polygon points="0,0,633,0,633,536" style="fill:#c0e3e7;stroke:purple;stroke-width:0" />
    </svg>
</div><!-- .ace-wrapper -->

<!-- Scripts -->
<script type="text/javascript" src="static/js/vendor/jquery-1.12.4.min.js"></script>


<!--<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyDiwY_5J2Bkv2UgSeJa4NOKl6WUezSS9XA"></script>-->
<script type="text/javascript" src="static/js/plugins/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="static/js/plugins/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="static/js/plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="static/js/plugins/progressbar.min.js"></script>
<script type="text/javascript" src="static/js/plugins/slick.min.js"></script>

<script type="text/javascript" src="static/js/options.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>

